<div [formGroup]="form">
  <label [attr.for]="question.Field">{{question.Label}}</label>

  <div [ngSwitch]="question.SimpleDataType">

    <input *ngSwitchCase="'String'" [formControlName]="question.Field"
            [id]="question.Field" [type]="question.type" [required]="question.Required">
    <select [id]="question.Field" *ngSwitchCase="'String List, Single'" [formControlName]="question.Field">
      <option *ngFor="let opt of question.options" [value]="opt.Field">{{opt.value}}</option>
    </select>
    <input *ngSwitchCase="'Boolean'" [formControlName]="question.Field"
        [id]="question.Field" [type]="question.type">
  </div>

  <div class="errorMessage" *ngIf="!isValid">Es requerido, o Sobrepaso el maximo de campos!</div>
</div>
